@model ProjectName.Models.User.UserRegister
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex dlex-wrap">
    <div class="col-12 col-md-6 offset-md-3">
        <h1 class="display-4 mb-3">Create Account</h1>

        <form asp-action="Register" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Username" placeholder="username">
                
            </div>
        </form>
    </div>
</div>