@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a totally legit and professional ticket buying website. </p>
    <p>We have many shows to choose from and would never steer you wrong.</p>
</div>
