@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-image: linear-gradient(to bottom, #333333, #000000);
        color: white;
        text-align: center; /* Center the content horizontally */
    }

    h1 {
        color: yellow;
        text-shadow: 2px 2px black;
        font-size: 64px;
        margin-bottom: 150px;
    }

    p {
        color: white;
        text-shadow: 2px 2px black;
        font-size: 34px;
    }
</style>

<p>Ain't nothin worth bein private about over here. :(</p>


